<html>
  <head>
    <title>Cors-auth frontend</title>
    <meta name='viewport' content='width=device-width'>
    <%= js :application %>
  </head>
  <body>
    <div style='padding: 50px 100px;'>
      <nav class='navbar navbar-inverse' role='navigation'>
        <div class='container-fluid'>
          <div class='navbar-header'>
            <a class='navbar-brand'</a>
          </div>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>